<div class="sidebar_table">
	<table class="table table-borderless table-hover">
	  <thead>
	    <tr>
	      <th colspan="2" class="sidebar_head">他の会員に物資を<br>送ることができます</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% Item.order("RANDOM()").limit(3).each do |random| %>
	  	<tr>
	  		  <div class="random_item_content">
	  		    <td>
	  			  <%= attachment_image_tag random, :image, size: "50x40", fallback: "no_image_item.png" %>
	  		    </td>
				<td >
				  <%= link_to public_item_path(random) do %>
				  <div class="randome_item">
			  	<%= random.item_name %>
			    </div>
			    <% end %>
				</td>
              </div>
	    </tr>
	    <% end %>
	  </tbody>
	</table>
</div>
<div class="sidebar_table">
	<table class="table table-borderless table-hover">
	  <thead>
	    <tr>
	      <th colspan="2" class="sidebar_head">いいねランキング</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% Post.find(Favorite.group(:post_id).order('count(post_id) desc').limit(3).pluck(:post_id)).each do |ranking| %>
	  	<tr>
	  		  <div class="ranking_post_content">
	  		    <td>
	  			  <%= attachment_image_tag ranking, :image, size: "50x40", fallback: "no_image_item.png" %>
	  		    </td>
				<td >
				  <%= link_to public_item_path(ranking) do %>
				  <div class="ranking_post">
			  	<%= ranking.title %>
			    </div>
			    <% end %>
				</td>
              </div>
	    </tr>
	    <% end %>
	  </tbody>
	</table>
</div>