    <div class="container-fluid">
      <div class="row">
        <div class="main-visual">
      </div>
    </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <h3>投稿編集</h3>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row">
  	<div class="col-3">
  	  <div class="sidebar">
        <%= render "public/shared/sidebar" %>
  	  </div>
      <div class="sidebar">
        <%= render "public/shared/sidebar_favorites" %>
      </div>
  	</div>
    <div class="col-6">
       <% if @post.errors.any? %>
        <div class="alert alert-danger">
          <h2><%= @post.errors.count %> errors </h2>
        <ul>
          <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
        </div>
      <% end %>
      <%= form_for(@post, url: public_post_path, html: {method: 'PATCH'}) do |form| %>
      <div class="field">
    <%= form.label :タイトル %>
    <%= form.text_field :title, class:"col-12" %>
  </div>
          <div class="add_image">
          <div class="index_image">
            <%= attachment_image_tag @post, :image, size:"200x200", id:"index_image", fallback: "no_image.jpg" %>
          </div>
          <div class="add_index_image">
            <%= form.attachment_field :image, placeholder: "インデックス画像" %>
          </div>
        </div>
  <div class="field">

    <%= form.text_area :content, 'data-provider': :summernote, class:"col-12" %>
  </div>
  <div class="actions">
    <%= form.submit "編集を更新する", class:"btn btn-primary"%>
  </div>
  
<% end %>  

    </div>
  </div>
</div>