    <div class="container-fluid">
      <div class="row">
        <div class="main-visual">
      </div>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
      <h3 class="all_posts_header">新規投稿</h3>
    </div>
    <div class="col-3"></div>
    </div>
  <div class="row">
  	<div class="col-3">
  	  <div class="sidebar">
        <%= render "public/shared/sidebar" %>
  	  </div>
      <div class="sidebar">
        <%= render "public/shared/sidebar_favorites" %>
      </div>
  	</div>
    <div class="col-6">
      <%= form_for(@post, url: '/public/posts', html: {method: 'POST'}) do |form| %>
        <div class="field">
          <%= form.label :タイトル %>
          <%= form.text_field :title, class:"col-12" %>
        </div>
        <div class="add_image">
          <div class="index_image">
            <%= image_tag "no_image.jpg", size:"200x200", id:"index_image" %>
          </div>
          <div class="add_index_image">
            <%= form.attachment_field :image, placeholder: "インデックス画像" %>
          </div>
        </div>
        <div class="post_genre_field">
                <%= form.label :投稿ジャンル %>
                <%= form.collection_select :post_genre_id, PostGenre.all, :id, :name %>
        </div>

        <div class="field">
          <%= form.text_area :content, 'data-provider': :summernote, id:"summernote", size:"78x30", placeholder: "投稿本文", class:"col-12" %>
        </div>
        <div class="post_actions">
          <%= form.submit "投稿する", class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
    $(function(){
    $('#post_image').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#index_image").attr('src', e.target.result);
    }
    reader.readAsDataURL(e.target.files[0]);
});
});

$(function() {
  $('#back a').on('click',function(event){
    $('body, html').animate({
      scrollTop:0
    }, 800);
    event.preventDefault();
  });
});

</script>