    <div class="container-fluid">
      <div class="row">
        <div class="main-visual">
      </div>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
      <h3>投稿詳細</h3>
    </div>
    <div class="col-3"></div>
    </div>
  <div class="row">
  	<div class="col-3">
  	  <div class="sidebar">
        <%= render "public/shared/sidebar" %>
  	  </div>
      <div class="sidebar">
        <%= render "public/shared/sidebar_favorites" %>
      </div>
  	</div>
    <div class="col-9">
      <div class="post_show">
      <div class="post_show_title">
        <%= @post.title %>
      </div>
      <div class="post_show_content">
      	<%= @post.content.html_safe %>
      </div>
      <div class="post_delete_button">
      <%= link_to "この投稿を削除する", public_post_path(@post), method: :delete, class:"btn btn-danger" %>
    </div>
    </div>
    </div>


  <div class=" row">
    <div class="col-3"></div>
    <div class="col-9">
      <div id="favorite_buttons_<%= @post.id %>">
                  <%= render "public/shared/favorite_button", post:@post %>
                </div>
    </div>
  </div>
  <div class=" row">
    <div class="col-3"></div>
    <div class="col-9">
      <div class="post_comments">
        <%= render "public/shared/post_comment" %>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class="col-3"></div>
    <div class="col-9">
      <div class="comment_form">
        <%= render "public/shared/post_comment_form" %>
      </div>
      <span id="back">
      <%=link_to "#" do %>
        <%= image_tag "arrow.png" %>
      <% end %>
    </span>
    </div>
  </div>
</div>


    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>