    <div class="container-fluid">
      <div class="row">
        <div class="main-visual">
      </div>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
      <h3>投稿詳細</h3>
    </div>
    <div class="col-3"></div>
    </div>
  <div class="row">
  	<div class="col-3">
      <%= link_to "投稿一覧へ戻る", public_posts_path, class:"btn btn-success", data: {"turbolinks" => false} %>
  	  <div class="sidebar">
        <%= render "public/shared/sidebar" %>
  	  </div>
      <div class="sidebar">
        <%= render "public/shared/sidebar_favorites" %>
      </div>
  	</div>
    <div class="col-9">
      <div class="post_show">
        <div class="post_show_title">
        <h2><%= @post.title %></h2>
        <%= link_to public_member_path(@post.member_id) do %>
        <div class="post_member">
          <%= attachment_image_tag @post.member, :image, class:"rounded-circle border",  size: "40x40", fallback: "no_image.jpg" %>
          <%= @post.member.nickname %><%= @post.member.created_at.strftime('%Y/%m/%d') %>
        </div>
        <% end %>
      </div>
      <div class="post_show_content">
      	<%= @post.content.html_safe %>
      </div>
      <div class="buttons">
        <div class="favorite">
          <div id="favorite_buttons_<%= @post.id %>">
                      <%= render "public/shared/favorite_button", post:@post %>
                    </div>
        </div>
        <div class="post_delete_button">
          <% if @post.member == current_member %>
          <%= link_to "この投稿を編集する", edit_public_post_path(@post), class:"btn btn-success" %>
          <%= link_to "この投稿を削除する", public_post_path(@post), method: :delete, class:"btn btn-danger" %>
          <% end %>
      </div>
    </div>
    </div>
    </div>
  </div>
  
  
  <div class=" row">
    <div class="col-3"></div>
    <div class="col-9">
      <div class="comments">
        <div class="post_comments">
           <%= render "public/shared/post_comment" %>
        </div>
        <div class="comment_form">
          <%= render "public/shared/post_comment_form" %>
      
        </div>
      </div>
    </div>


      <span id="back">
      <%=link_to "#" do %>
        <%= image_tag "PURRFECT_STORY_TOP.png" %>
      <% end %>
    </span>
    </div>
  </div>

<script>
  $(function() {
  $('#back a').on('click',function(event){
    $('body, html').animate({
      scrollTop:0
    }, 800);
    event.preventDefault();
  });
});
</script>