    <div class="container-fluid">
      <div class="row">
        <div class="main-visual">
      </div>
    </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <h3>"<%= @tag.name %>"タグの投稿一覧</h3>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row">
  	<div class="col-3">
  	  <div class="sidebar">
        <%= render "public/shared/sidebar" %>
  	  </div>
      <div class="sidebar">
        <%= render "public/shared/sidebar_favorites" %>
      </div>
  	</div>
    <div class="col-9">
      <div class="all_posts">
            <% @posts.each do |post| %>
            <%= link_to public_post_path(post), data: {"turbolinks" => false} do %>
            <div class="all_posts_box second">
            <div class="all_post_image">
              <%= attachment_image_tag post, :image, size: "370x300", fallback: "no_image_item.png" %>
            </div>
            <div class="all_post_title">
              <h5><%= post.title %></h5>
            </div>
            <% end %>
            <%= link_to public_member_path(post.member_id) do %>
              <div class="first_post_user">
                    投稿者：<%= attachment_image_tag post.member, :image, size: "40x40", fallback: "no_image.jpg", class:"rounded-circle border" %>
                    <%= post.member.nickname %>
                </div>
              <% end %>
            </div>
            <% end %>
      </div>
    </div>
  </div>
</div>