<div class="container-fluid">
  <div class="row">
  <div class="col-12">
  <div class="new_session_logo">
    <div class="new_session_logo_icon"></div>
    <div class="new_session_logo_name"></div>
  </div>
</div>
</div>

<div class="row">
  <div class="col-12">
    <div class="log_in">
<h2 class="log_in_header">Sign up</h2>
<div class="log_in_form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "members/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"password_field" %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "名字", class:"password_field" %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "名前", class:"password_field" %>
  </div>

    <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "ニックネーム", class:"password_field" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"password_field" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"password_field" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "members/shared/links" %>
</div>
</div>
</div>
</div>
</div>