    <div class="container-fluid">
      <div class="row">
        <%= render 'public/shared/mainvisual' %>
    </div>
    <%= flash[:notice] %>
  <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <h3 class="new_post_header">新着投稿</h3>
      </div>
      <div class="col-3"></div>
    </div>
  <div class="row">
  	<div class="col-3">
  	  <div class="sidebar">
        <%= render "public/shared/sidebar" %>
  	  </div>
  	</div>
  	<div class="col-6">
	      <div class="new_posts">
	      	<% @posts.each do |post| %>
          <%= link_to public_post_path(post) do %>
	      	<div class="top_new_post">
	      		<div class="post_image">
              <%= attachment_image_tag post, :image, size: "331x270", fallback: "no_image_item.png" %>   
            </div>
	      		<div class="post_title">
	      			<%= post.title %>
	      		</div>
	      	</div>
          <% end %>
            <% end %>
	      </div>
  	</div>
  </div>
</div>
