<div class="container">
  <div class="row">
	<div class="admin_members_header">
		<h3>注文履歴一覧</h3>
	</div>
  </div>
  <div class="row">
  	<div class="col-1"></div>
    <div class="col-10">
        <table class="table">
			  <thead class="thead-dark">
			  	<tr>
			  	  <th>注文日</th>
			  	  <th>購入者</th>
			  	  <th>合計金額</th>
			  	  <th>ステータス</th>
			  	  <th></th>
			  	</tr>
		      </thead>
		      <tbody>
		      	<% @orders.each do |order| %>
		      	<tr>
		      		<td><%= order.created_at.strftime('%Y/%m/%d') %></td>
		      		<td><%= order.member.last_name %><%= order.member.first_name %></td>
		      		<td><%= order.total_fee %></td>
		      		<td><%= order.order_status %></td>
		      		<td><%= link_to "注文詳細", admin_order_path(order) %></td>
		      	</tr>
		      	<% end %>
		      </tbody>
			</table>
	</div>
  </div>
</div>