<div class="container-fluid">
  <div class="row">
    <div class="main-visual"></div>
</div>
  <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <% if @member == current_member %>
        <h3>マイページ</h3>
        <% else %>
        <h3><%= @member.nickname %>さんの詳細ページ</h3>
        <% end %>
      </div>
      <div class="col-3"></div>
    </div>
  <% if @member == current_member %>
  <div class="row">
  	<div class="col-1"></div>
    <div class="col-10">
      <div class="member_show_content">
        <div class="member_show_image">
          <%= attachment_image_tag @member, :image, class:"rounded-circle border",  size: "400x400", fallback: "no_image.jpg" %>
        </div>
        <section class="stats">
        <%= render 'stats' %>
      </section>
        <div class="member_show_text">
        	<table class="member_show_text_table table-bordered">
        		<tr>
        		  <th>お名前（非公開）</th>
        		  <td><%= @member.last_name %> <%= current_member.first_name %></td>
        		</tr>
        		<tr>
        		  <th>お名前カナ（非公開）</th>
        		  <td><%= @member.last_name_kana %> <%= current_member.first_name_kana %></td>
        		</tr>
        		<tr>
        		  <th>表示されるお名前</th>
        		  <td><%= @member.nickname %></td>
        		</tr>
                <tr>
                    <th>自己紹介</th>
                    <td><%= @member.introduction %></td>
                </tr>
                <tr>
                    <th>webサイト</th>
                    <td><a href="#" style="color:blue;"><%= @member.web_site %></a></td>
                </tr>
        		<tr>
        		  <th>Email（非公開）</th>
        		  <td><%= @member.email %></td>
        		</tr>
        		<tr>
        		  <th>電話番号（非公開）</th>
        		  <td><%= @member.phone_number %></td>
        		</tr>
        		<tr>
        		  <th>郵便番号（非公開）</th>
        		  <td><%= @member.postal_code %></td>
        		</tr>
        		<tr>
        		  <th>住所（非公開）</th>
        		  <td><%= @member.address %></td>
        		</tr>
        	</table>
      </div>
    </div>
        <div class="mypage_blue_buttons">
          <%= link_to "注文履歴一覧", public_orders_path(current_member.id), class:"btn btn-primary" %>
          <% if current_member.posts.count >= 1 %>
            <%= link_to "投稿した記事一覧", public_posts_path(key: 1), class:"btn btn-primary", data: {"turbolinks" => false} %>
          <% end %>
          <%= link_to "登録情報を編集する", edit_public_member_path, class:"btn btn-primary", data: {"turbolinks" => false} %>
          </div><br>
        <div class="mypage_withdrawal_button">
          <% if member_signed_in? && @member.id == current_member.id %>
          <%= link_to "退会する", public_members_withdrawal_path, class: "btn btn-outline-danger" %>
          <% end %>
        </div>
  <% else %>
      <div class="member_show_content">
        <div class="member_show_image">
          <%= attachment_image_tag @member, :image, class:"rounded-circle border",  size: "400x400", fallback: "no_image.jpg" %>
        </div>
        <div class="follow_form">
          <%= render "follow_form" %>
        </div>
        <section class="stats">
        <%= render 'stats' %>
      </section>
        <div class="member_show_text_2">
          <table class="member_show_text_table table-bordered">
              <tr>
                <th>お名前</th>
                <td><%= @member.nickname %></td>
              </tr>
              <tr>
                <th>自己紹介</th>
                <td><%= @member.introduction %></td>
              </tr>
              <tr>
                    <th>webサイト</th>
                    <td><a href="#" style="color:blue;"><%= @member.web_site %></a></td>
                </tr>
          </table>
          <% if @member.posts.count >= 1 %>
            <%= link_to "この会員が投稿した記事一覧", public_posts_path(@member.id, key: 2), class:"member_posts btn btn-primary", data: {"turbolinks" => false} %>
          <% end %>
        </div>
       </div>
       <% end %>
    </div>
    <div class="col-1"></div>
  </div>
  
</div>
