    <div class="container-fluid">
      <div class="row">
        <div class="main-visual">
      </div>
      <%= notice %>
    </div>
    <div class="row">
      <div class="col-3"></div>
    	<div class="col-6">
    		<h3>ショッピングカート</h3>
    	</div>
      <div class="col-3"></div>
    </div>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-8">
	  </div>
	  <div class="col-2">
	  	 <%=link_to "カートを空にする", public_cart_items_destroy_all_path, method: :delete, class:"destroy_all btn btn-danger" %>
	  </div>
	  <div class="col-1"></div>
	</div>
  <div class="row">
  	<div class="col-1"></div>
  	<div class="col-10">
      <div class="cart_item_table">
	  	<table class="table public_cart_item_table">
			  <thead class="thead-dark">
			  	<tr>
			  	  <th>商品名</th>
			  	  <th>単価（税込）</th>
			  	  <th>数量</th>
			  	  <th>小計</th>
			  	  <th></th>
			  	</tr>
		      </thead>
		      <tbody>
		      	<% @cart_items.each do |cart_item| %>
		      	<tr>
		      		<td><%= cart_item.item.item_name %></td>
		      		<td><%= (cart_item.item.unit_price_without_tax*1.1).floor %></td>
		      		<td>
		      			<%= form_for cart_item, url: public_cart_item_path(cart_item) do |f| %>
                        <%= f.number_field :number_of_items, min:1, max: 20 %><%= f.submit "更新" ,class:"btn btn-primary btn-xs" %>
                        <% end %>
		      		</td>
		      		<td>
		      			<%= ((cart_item.item.unit_price_without_tax*1.1).floor*cart_item.number_of_items) %>
                        <% @total += ((cart_item.item.unit_price_without_tax*1.1).floor*cart_item.number_of_items) %>
                    </td>
              <td>
                <%= link_to "削除する", public_cart_item_path(cart_item), method: :delete, class:"btn btn-danger" %>
              </td>
		      	</tr>
		      	<% end %>
		      </tbody>
			</table>
      <p class="postage">＊送料は一律300円です＊</p>
    </div>
	  </div>
	  <div class="col-1"></div>
  </div>
  <div class="row">
  	<div class="col-1"></div>
  	<div class="col-2">
  		<%= link_to "買い物を続ける", public_items_path, class:"btn btn-primary" %>
  	</div>
  	<div class="col-6"></div>
  	<div class="col-3">
            <div class="postage_confirm">
        <div class="total_price_text">送料</div>
        <div class="total_price_price">300円</div>
      </div>
  		<div class="total_price">
  			<div class="total_price_text">合計金額</div>
  			<div class="total_price_price"><%= (@total + 300) %>円</div>

  		</div>
  	</div>
  </div>
  <div class="row">
  	<div class="col-12">
  		<div class="cart_next">
  			<%= link_to "注文情報入力へ進む", new_public_order_path(@post), class:"btn btn-success" %>
    	</div>
  	</div>
  </div>
</div>