<div class="container">
  <div class="row">
	<div class="admin_item_edit_header">
		<h3>ジャンル一覧・追加</h3>
	</div>
  </div>
  <div class="row">
    <div class="admin_post_genre_edit_form">
	  	<%= form_for(@post_genre, url: admin_post_genre_path(@post_genre), html: {method: 'PATCH'}) do |form| %>
	  		<div class="field radio_buttons">
	          <%= form.label :投稿ジャンル %>
	          <%= form.text_field :name %>
	        </div>
	        <div class="field radio_buttons">
	          <%= form.radio_button :valid_invalid_status, "有効" ,checked: "checked" %>　有効
	        </div>
	        <div class="field radio_buttons">
	          <%= form.radio_button :valid_invalid_status, "無効" %>　無効
	        </div>
	        <div class="actions radio_buttons">
	          <%= form.submit "更新" %>
	        </div>

	    <% end %>
    </div>
  </div>
</div>