<div class="container-fluid">
  <div class="row">
    <div class="main-visual">
    </div>
  </div>
  <div class="row">
  	<div class="col-3"></div>
  	<div class="col-6">
  		<h3>注文情報確認</h3>
  	</div>
  	<div class="col-3"></div>
  </div>
  <div class="row">
  	<div class="col-1"></div>
  	<div class="col-10">

	  	
	  	<%= form_for @order, url: {action: 'create'} do |f| %>
	    <table class="table public_orders_confirm_table">
			  <thead class="thead-dark">
			  	<tr>
			  	  <th>商品名</th>
			  	  <th>単価（税込）</th>
			  	  <th>数量</th>
			  	  <th>小計</th>
			  	  <th></th>
			  	</tr>
		      </thead>
		      <tbody>
		      	<% @cart_items.each do |cart_item| %>
		      	<tr>
		      		<td><%= cart_item.item.item_name %></td>
		      		<td><%= (cart_item.item.unit_price_without_tax*1.1).floor %></td>
		      		<td>
		      		    <%= cart_item.number_of_items %>
		      		</td>
		      		<td>
		      			<%= ((cart_item.item.unit_price_without_tax*1.1).floor*cart_item.number_of_items) %>
                        <% @total += ((cart_item.item.unit_price_without_tax*1.1).floor*cart_item.number_of_items) %>
                    </td>
		      	</tr>
		      	<% end %>
		      </tbody>
			</table>
        </div>
    </div>
    <div class="row">
    	<div class="col-1"></div>
    	<div class="col-10">
    	  <div class="order_payment_method">
    		<h5>支払い方法</h5>
    		<%= @order.payment_method %>
    	  </div>
    	</div>
    </div>
    <div class="row">
    	<div class="col-1"></div>
    	<div class="col-8">
    	  <div class="order_payment_method">
    		<h5>お届け先</h5>
        <% if params[:order][:address_number] == '1' %>
      		<%= @order.postal_code %> <%= @order.address %><br>
      		<%= @order.name %>
        <% else %>
          <%= Member.find(params[:order][:address]).nickname %>
        <% end %>
    	  </div>
    	  <div class="order_other_params">
	    	<%= f.hidden_field :payment_method ,:value => @order.payment_method %>
			<%= f.hidden_field :postage ,:value => 300 %>
			<%= f.hidden_field :address,:value => @order.address %>
			<%= f.hidden_field :postal_code,:value => @order.postal_code %>
			<%= f.hidden_field :name,:value => @order.name %>
      <%= f.hidden_field :nickname,:value => @order.nickname %>
			<%= f.hidden_field :total_fee ,:value => @total %>
		  </div>
		  <div class="text-center">
			<%= f.submit "購入を確定する", class: "btn btn-success text-cenrer btn-lg" %>
		</div>
		<% end %>
    	</div>
      <div class="col-2">
      <div class="postage_confirm">
        <div class="total_price_text">送料</div>
        <div class="total_price_price">300円</div>
      </div>
      <div class="total_price">
        <div class="total_price_text">合計金額</div>
        <div class="total_price_price"><%= (@total + 300) %>円</div>

      </div>
      </div>
    </div>
</div>