    <div class="container-fluid">
      <div class="row">
        <div class="main-visual">
      </div>
    </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="public_item_show_header">
          <h3>商品詳細</h3>
        </div>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row">
  	<div class="col-3">
  	  <div class="sidebar">
        <%= render "public/shared/sidebar_items" %>
  	  </div>
  	</div>
    <div class="col-4">
      <div class="public_item_show">
          <%= attachment_image_tag @item, :image, size: "400x400", fallback: "no_image_item.jpg", class:"public_item_show_image" %>

    </div>
    </div>
  <div class="col-5">
      <div class="public_item_show_text">
        <table>
          <tr>
            <th>商品名</th>
            <td><%= @item.item_name %></td>
          </tr>
          <tr>
            <th>商品説明</th>
            <td><%= @item.explanation %></td>
          </tr>
          <tr>
            <th style="width:180px;">税込価格（税抜価格）</th>
            <td><%= (@item.unit_price_without_tax*1.1).floor %>円　(<%= @item.unit_price_without_tax %>円)</td>
          </tr>
        </table>
      </div>
      <div class="cart_create">
        <% if @cart_item.errors.any? %>
        <div class="alert alert-danger">
          <h2><%= @cart_item.errors.count %> errors </h2>
        <ul>
          <% @cart_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
        </div>
      <% end %>
        <%= form_for @cart_item, url: public_cart_items_path(@cart_item) do |f| %>
        <%= f.hidden_field :item_id, :value => @item.id%>
        <%= f.number_field :number_of_items , placeholder: "個数選択", min: 1, max: 20 %> 
        <%= f.submit "カートに入れる" ,class: 'btn btn-primary' %>
        <% end %>
      </div>
  </div>
</div>